<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- HelloWolrd클래스를 사용해서 인스턴스를 만들고, 스프링컨테이너에서 식별자는 helloWorld -->
	<bean id="helloWorld" class="com.scci.summer.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>
	<!-- bean 생성 id="computer" -->
	<!-- manufacture : 삼성 -->	   
	<!-- serialNo : 478520810 -->
	<bean id="computer" class="com.scci.beans.Computer">
		<property name="manufacture" value="삼성" />
		<property name="serialNo" value="4855882334" />
	</bean>	   
</beans>